

@media only screen and (max-width: 1024px){
  .box-content {
    max-width: 96%;
  }

.menue {
  justify-content:space-between;

}

.menue__item {
  width: 48%;
}

  .footer__info ul:nth-child(2) {
    width: 170px;
  }

  .footer__info ul:last-child {
    width: 120px;
  }

}

@media only screen and (max-width: 640px) {
  .box-content {
    width: 96%;
  }

  .asap {
    display: none;
  }

  .basket {
  display: none;
  }

  h1 {
    text-align: center;
  }

  .menue {
    flex-direction: column;
    align-items: center;
  }

  .menue__item {
  width: 90%;
  }

  .inits_button {
    justify-content: space-around;
  }

  .footer__info {
    flex-direction: column;
    padding-bottom: 40px;
    font-size: 13px;
  }

  .footer__info ul {
    margin-top: 0;
    margin-bottom: 0;
  }

.footer__end {
  flex-direction: column;
  align-items: end;
  font-size: 11px;
  padding: 40px 0;
  height: 167px;
}

.footer__end a{
  padding-bottom: 24px;
}

}
